.subContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
}

.subContainer .subSubContainer {
    position: absolute;
    width: 93.4%;
    height: 100vh;
    max-height: fit-content;
    left: 101px;
    top: 0px;
    background-color: var(--bg-color);
    border-top-left-radius: 58px;
    border-bottom-left-radius: 58px;
    overflow: hidden;
}

.subContainer .subSubContainer .profile {
    position: relative;
    padding: 10px 100px;
    width: 100%;
    height: 100%;
    max-height: fit-content;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--nav-color);
    border-radius: 8px;
}

.subContainer .subSubContainer .profile .header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    top: 75px;
    padding-top: 45px;
    z-index: 999;
}

.subContainer .subSubContainer .profile .header .leftHeader {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.subContainer .subSubContainer .profile .header .leftHeader > img {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
}

.subContainer .subSubContainer .profile .header .leftHeader .identity .fullname_edit {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subContainer .subSubContainer .profile .header .leftHeader .identity .fullname_edit .edit {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.subContainer .subSubContainer .profile .header .leftHeader .identity .fullname_edit .edit p {
    position: relative;
    top: -3.5px;
}

.subContainer .subSubContainer .profile .header .leftHeader .identity .fullname_edit .edit:hover {
    font-weight: 600;
}

.subContainer .subSubContainer .profile .header .leftHeader .identity p:first-child {
    position: relative;
    font-family: var(--main-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.subContainer .subSubContainer .profile .header .leftHeader .identity p:nth-child(2) {
    position: relative;
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
}

.subContainer .subSubContainer .profile .header .leftHeader .identity p:last-child {
    margin-top: 8px;
    color: var(--text-color);
    font-family: var(--secondary-font);
}

.subContainer .subSubContainer .profile .header .rightHeader {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.subContainer .subSubContainer .profile .header .rightHeader .data {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.subContainer .subSubContainer .profile .header .rightHeader .data:first-child {
    cursor: auto;
}

.subContainer .subSubContainer .profile .header .rightHeader .data p:first-child {
    position: relative;
    font-family: var(--main-font);
    font-weight: 600;
}

.subContainer .subSubContainer .profile .header .rightHeader .data p:last-child {
    position: relative;
    color: var(--tertiary-color);
    font-family: var(--secondary-font);
    font-size: 18px;
}

.profile .posts_save {
    position: relative;
    top: 75px;
    left: 5px;
}

.posts_save > div:nth-child(1) {
    position: fixed;
    width: 79.6%;
    background-color: var(--bg-color);
    padding-top: 30px;
    z-index: 1;
}

.posts_save > div:nth-child(1) > div > div > button:first-child {
    color: var(--primary-color);
}

.posts_save > div:nth-child(1) > div > div > button:first-child[aria-selected=false] {
    color: var(--tertiary-color);
}

.posts_save > div:nth-child(1) > div > div > button:nth-child(2) {
    color: var(--primary-color);
}

.posts_save > div:nth-child(1) > div > div > button:nth-child(2)[aria-selected=false] {
    color: var(--tertiary-color);
}

.posts_save > div:nth-child(1) > div > div > button:last-child {
    color: var(--tertiary-color);
}

.posts_save > div:nth-child(1) > div > div > button:last-child[aria-selected=true] {
    color: var(--primary-color);
}

.posts_save > div:nth-child(1) > div > span {
    background-color: var(--primary-color);
}

.posts_save > div:nth-child(2) {
    position: relative;
    padding-left: 0;
}

.posts_save .posts {
    position: relative;
    top: 80px;
    left: 5px;
}

.posts_save .posts .buildPortfolio {
    position: relative;
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--text-color);
    margin-top: 120px;
}

.posts_save .posts a {
    position: relative;
    text-decoration: none;
    color: var(--bg-color);
    background-color: var(--primary-color);
    padding: 7px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-family: var(--secondary-font);
    top: 20px;
    margin-left: 500px;
}

.posts_save .posts a:hover {
    opacity: 0.8;
}

.dialog > div:nth-child(3) > div {
    width: 800px;
    height: 600px;
    background-color: var(--editor-bg-color);
}

.dialog > div:nth-child(3) > div > h2 {
    color: var(--text-color);
    align-self: center;
    font-family: var(--main-font);
    font-weight: 600;
}

.dialog > div:nth-child(3) > div > hr {
    border-bottom: thin solid var(--tertiary-color);
}

.dialog > div:nth-child(3) > div > form .editTop {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dialog > div:nth-child(3) > div > form .editTop p {
    color: var(--tertiary-color);
    font-style: italic;
}

.dialog > div:nth-child(3) > div > form .editTop > img {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    z-index: 0;
}

.dialog > div:nth-child(3) > div > form .editTop > img:hover {
    opacity: 0.5;
}

.dialog > div:nth-child(3) > div > form .editTop .profilePictureHolder {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.dialog > div:nth-child(3) > div > form .editTop .profilePictureHolder img {
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -265.5px;
    margin-top: -4px;
    cursor: pointer;
    z-index: 100;
}

.dialog > div:nth-child(3) > div > form .editTop .profilePictureHolder button {
    position: relative;
    outline: none;
    padding: 3px 25px;
    border: 1px solid hsla(12, 41%, 37%, .5);
    border-radius: 5px;
    text-align: center;
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 12px;
    background: transparent;
    cursor: pointer;
}

.dialog > div:nth-child(3) > div > form .editTop .profilePictureHolder button:hover {
    background-color: hsla(12, 41%, 37%, .5);
}

.dialog > div:nth-child(3) > div > form .editTop input {
    display: none;
}

.dialog > div:nth-child(3) > div > form hr {
    position: relative;
    margin-bottom: 10px;
}

.dialog > div:nth-child(3) > div > form .userInputs {
    position: relative;
    margin-bottom: 10px;
}

.dialog > div:nth-child(3) > div > form .userInputs label {
    position: relative;
    display: inline-block;
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 15px;
    width: 200px;
    margin-right: 15px;
}

.dialog > div:nth-child(3) > div > form .userInputs input, 
.dialog > div:nth-child(3) > div > form .userInputs textarea,
.dialog > div:nth-child(3) > div > form .userInputs select {
    position: relative;
    border: none;
    outline: none;
    padding: 5px 15px;
    width: 50%;
    border-radius: 5px;
    font-family: var(--secondary-font);
}

.dialog > div:nth-child(3) > div > form .userInputs textarea {
    resize: none;
}

.EditProfileBtn {
    position: relative;
    border: none;
    outline: none;
    padding: 5px 30px;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 10px;
    font-family: var(--main-font);
    font-style: normal;
    font-size: 15px;
    cursor: pointer;
    margin-right: 250px;
    margin-bottom: 30px;
}

.EditProfileBtn:hover {
    opacity: 0.9;
}

.post {
    position: relative;
    width: 100%;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(236, 231, 211, 0.9);
    margin-bottom: 10px;
    border-radius: 8px;
}

.post .postTop {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.post .postTop .left {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.post .postTop .left a {
    position: relative;
    text-decoration: none;
}

.post .postTop .left img {
    border-radius: 50%;
    object-fit: cover;
} 

.post .postTop .left .username {
    position: relative;
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
}

.post .postTop .left .date {
    position: relative;
    font-family: var(--main-font);
    font-size: 11px;
    color: var(--tertiary-color);
}

.post .postTop button {
    position: relative;
    border: none;
    outline: none;
    background: transparent;
}

.post .postMiddle {
    position: relative;
    padding: 0 20px;
    margin-bottom: 15px;
}

.post .postMiddle p {
    position: relative;
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}

.post .postMiddle img {
    width: 100%;
    max-height: fit-content;
    object-fit: contain;
}

.post .postBottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post .postBottom .react_to_post {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.post .postBottom .react_to_post .like, 
.post .postBottom .react_to_post .comment {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.post .postBottom .react_to_post .like span, 
.post .postBottom .react_to_post .comment span {
    position: relative;
    font-family: var(--secondary-font);
}